# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.FG_Cam.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\Unity\FG_Cam\.idea\.idea.FG_Cam\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
