# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Third Person Camera Test_2.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\Unity\Third Person Camera Test_2\.idea\.idea.Third Person Camera Test_2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
